{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layouts/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/academic/layouts/partials/site_head.html`. */}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZQDZ97BTJ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9ZQDZ97BTJ');
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />